.MyModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.MyModalContent {
    padding: 5px 60px;
    border: 1px solid #ffffff;
    background: white;
    width: 300px;
    border-radius: 20px;
}

.MyModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}